<% layout('layouts/boilerplate') %>
<header class="header-section">
    <div class="container text-container">
        <h1 class="display-4 fade-in">Course Scheduling Made Easy</h1>
        <p class="lead fade-in-delay">Simplify your course scheduling with our easy-to-use tools.</p>
        <a href="/courses/optimizer" class="btn btn-custom mt-4 fade-in-delay">Continue to Schedule Optimizer</a>
    </div>
</header>
<section class="features py-5">
    <div class="container">
        <div class="row mt-4">
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Schedule Optimizer</h5>
                        <p class="card-text">Optimize your schedule to fit your needs.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Average Course GPA</h5>
                        <p class="card-text">Find the average GPA for your courses.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Professor Ratings</h5>
                        <p class="card-text">Read ratings for your professors.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Most Liked Courses</h5>
                        <p class="card-text">Discover the most liked courses.</p>
                    </div>
                </div>
            </div>


            <div class="col-md-4 mb-4">
                
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Personal Course Suggestor</h5>
                        <p class="card-text">Get personalized course suggestions.</p>
                    </div>
                </div>
            </div>


            <div class="col-md-4 mb-4">

                <a href="/courses" class="card-link">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">All Courses</h5>
                            <p class="card-text">Browse all available courses.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
