body {
  font-family: "Roboto", sans-serif;
  background-color: #fefbfb;
  color: #333;
  margin: 0;
  padding: 0;
  padding-top: 80px;
}

.home-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.content-wrapper {
  max-width: 1200px;
  width: 100%;
}
.header-section {
  text-align: center;
  margin-bottom: 40px;
}

.header-section h1 {
  font-size: 3em;
  color: #e12528;
  margin-bottom: 20px;
  font-weight: 570;
}

.header-section p {
  font-size: 1.2em;
  color: #272626;
  font-weight: 450;
}

.text-container {
  width: 80%;
  max-width: 800px;
  margin: auto;
}

.container {
  animation: slide-in 1s ease-out;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1.5s forwards;
}

.fade-in-delay {
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 0.5s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.btn-custom,
.btn-danger {
  background-color: #e12528;
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 1em;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.btn-custom:hover,
.btn-danger:hover {
  background-color: #e24a4d;
  transform: translateY(-3px);
  color: #fff;
}

.btn-danger {
  background-color: #dc3545;
}

.btn-danger:hover {
  background-color: #c82333;
}

.card {
  background-color: #fcf9f9;
  color: #353434;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
  margin-bottom: 20px;
  padding: 15px;
  flex: 1 1 100%;
  box-sizing: border-box;
  min-height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1rem 1.25rem;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  background-color: #e4e4e4;
}

.card-title {
  color: #ff2226;
  font-size: 1.4em;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
.card-title .badge-rating {
  margin-left: 10px;
}

.card-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0;
  background-color: transparent;
  border-top: none;
}

.features {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  background-color: #fefbfb;
}

.process-section {
  text-align: center;
}

.process-step {
  margin-bottom: 30px;
}

.process-step i {
  color: #e12528;
}

.process-step h3 {
  margin-top: 15px;
  margin-bottom: 10px;
}

.btn-custom.btn-lg {
  font-size: 1.25rem;
  padding: 15px 30px;
}

@media (max-width: 768px) {
  .home-container {
    height: auto;
    padding-top: 80px;
  }

  .header-section h1 {
    font-size: 2.5em;
  }

  .header-section p {
    font-size: 1em;
  }
  .schedule-grid {
    font-size: 0.8em;
  }
}

.custom-navbar {
  background-color: #fefbfb !important;
  color: #333 !important;
  animation: fadeIn 1s ease-in-out !important;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 0.5rem 1rem;
}

.custom-navbar .container-fluid {
  padding: 0;
}

.custom-navbar .navbar-brand {
  color: #ff2226;
  font-weight: bold;
  font-size: 1.5em;
  margin-right: auto;
}

.custom-navbar .navbar-nav {
  margin-left: auto;
}

.custom-navbar .nav-link {
  color: #333 !important;
  font-weight: 580;
  transition: color 0.3s ease;
  padding: 0.5rem 1rem;
}

.custom-navbar .nav-link:hover {
  color: #acacac !important;
}

.custom-navbar.navbar::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: #c4c2c2 !important;
}

.custom-navbar .navbar-toggler {
  border: none;
  padding: 0.25rem 0.75rem;
}

.custom-navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 33, 33, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-collapse {
  transition: opacity 0.3s ease-out;
  opacity: 0;
  display: none;
}

.navbar-collapse.show {
  opacity: 1;
  display: block;
}

@media (max-width: 991px) {
  .custom-navbar .navbar-nav {
    margin-left: 0;
    align-items: flex-start;
    width: 100%;
  }

  .custom-navbar .nav-item {
    width: 100%;
  }

  .custom-navbar .nav-link {
    padding: 0.75rem 0;
    width: 100%;
    text-align: left;
  }
}
@media (min-width: 992px) {
  .navbar-collapse {
    opacity: 1;
    display: flex !important;
  }
}

.optimizer-container {
  padding-top: 100px;
  padding-bottom: 50px;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.scheduler-heading {
  font-size: 2.5em;
  color: #221d1c;
  margin-bottom: 20px;
  font-weight: 550;
}

.schedule-grid {
  display: grid;
  grid-template-columns: 80px repeat(5, minmax(100px, 1fr));
  grid-template-rows: 50px repeat(24, 1fr);
  gap: 1px;
  background-color: #ccc;
  width: 100%;
  position: relative;
  overflow-x: auto;
}

.schedule-grid-container {
  width: 100%;
  overflow-x: auto;
  background-color: #ccc;
  padding-bottom: 15px;
}

.schedule-header {
  background-color: #f1f1f1;
  text-align: center;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}

.schedule-time {
  padding: 5px;
  text-align: center;
  background-color: #f1f1f1 !important;
  border-right: 1px solid #ddd;
  font-weight: bold;
  grid-column: 1;
  grid-row: span 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.schedule-course {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background-color: #e12528;
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.schedule-course span {
  width: 100%;
}

.schedule-course:nth-child(odd) {
  background-color: #1abc9c;
}

.schedule-course:nth-child(even) {
  background-color: hsl(204, 70%, 53%);
}

.schedule-course:nth-child(3n) {
  background-color: #e74c3c;
}

.schedule-course:nth-child(4n) {
  background-color: #9b59b6;
}

.schedule-course:nth-child(5n) {
  background-color: #f39c12;
}

.schedule-course:nth-child(6n) {
  background-color: #d35400;
}

.schedule-course:nth-child(7n) {
  background-color: #2ecc71;
}

.schedule-course:nth-child(8n) {
  background-color: #e67e22;
}

.schedule-course:nth-child(9n) {
  background-color: #34495e;
}

.schedule-course:nth-child(10n) {
  background-color: #e91e63;
}

.schedule-course:hover {
  opacity: 0.8;
}

.schedule-grid > div {
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.schedule-grid .schedule-row {
  display: contents;
}

.schedule-grid .schedule-time {
  grid-column: 1;
}

.schedule-grid .schedule-course {
  grid-column: span 1;
}
.course-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  min-height: 60px;
  flex-wrap: wrap;
}

.course-title {
  margin: 0;
  font-weight: 500;
  flex: 1;
  min-width: 0;
  padding-right: 10px;
}

.remove-course-btn {
  padding: 5px 10px;
  font-size: 0.9em;
  background-color: #e12528;
  white-space: nowrap;
}

#generate-schedule-btn {
  background-color: #e12528;
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 1em;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
  width: 100%;
}

#generate-schedule-btn:hover {
  background-color: #e24a4d;
  transform: translateY(-3px);
  color: #fff;
}

#schedule-result {
  display: none;
  margin-bottom: 30px;
}

#schedule-result h2 {
  font-size: 2.2em;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
  color: #e12528;
}

.schedule-generated #schedule-result {
  display: block;
  order: -1;
}

.schedule-generated #course-selection-form {
  order: 1;
}

@media (max-width: 576px) {
  .course-card {
    flex-direction: column;
    align-items: flex-start;
  }

  .course-title {
    margin-bottom: 10px;
    padding-right: 0;
  }

  .remove-course-btn {
    align-self: flex-end;
  }
  .schedule-grid {
    font-size: 0.8em;
  }

  .schedule-time,
  .schedule-header {
    padding: 2px;
  }
}
footer {
  background-color: #333;
  padding: 20px 0;
  color: #e0e0e0;
  text-align: center;
  width: 100%;
}
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.badge-rating {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.8em;
  font-weight: bold;
}
.custom-navbar::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: #333;
}

.course-item {
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.course-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.course-item .card-title,
.course-item .card-text {
  color: inherit;
  text-decoration: none;
}

.add-to-dashboard-btn {
  z-index: 10;
}

.search-container {
  margin-bottom: 30px;
}

#search-form {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}

#search-input {
  width: 100%;
  padding: 15px 20px;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

#search-input:focus {
  outline: none;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

#search-input::placeholder {
  color: #aaa;
}

.search-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  transition: color 0.3s ease;
}

#search-input:focus + .search-icon {
  color: #e12528;
}

.form-container {
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  position: relative;
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 15px 20px;
  font-size: 16px;
  border: none;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.form-control:focus {
  outline: none;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.form-control::placeholder {
  color: #aaa;
}

.input-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  transition: color 0.3s ease;
}

.form-control:focus + .input-icon {
  color: #e12528;
}

.btn-primary {
  background-color: #e12528;
  border: none;
  border-radius: 30px;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: #c61a1d;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-block {
  display: block;
  width: 100%;
}

.no-hover {
  transition: none;
}

.no-hover:hover {
  transform: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fcf9f9;
}

.no-hover .no-hover .card-text {
  color: inherit;
  text-decoration: none;
}

.review-card {
  position: relative;
  font-family: "Roboto", sans-serif;
  min-height: 120px; /* Adjust this value based on your needs */
}

.review-rating {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  font-size: 1.2em;
  font-weight: bold;
}

.rating-number {
  margin-right: 5px;
}

.fa-star {
  color: #e12528;
}

.review-body {
  padding-right: 40px;
  margin-bottom: 30px;
}

.delete-form {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.delete-btn {
  font-size: 0.8em;
  padding: 0.2em 0.5em;
}
